/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Oswald:wght@300;400;600&display=swap');
/* PARAGRAPH FONT FAMILY RULES - font-family: 'Open Sans', sans-serif; */
/* HEADING FONT FAMILY RULES - font-family: 'Oswald', sans-serif;  */

/* Element Styles -------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
   overflow-x: hidden; 
   font-family: 'Open Sans', sans-serif;
   min-height: 100vh;
   background-color:#F0F1F7
}

h1 ,h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1875rem;
}

hr {
    width: 75%;
    margin: 0 12.5% 0 12.5% !important;
}

/* End of Element Styles */

/* Font Helper Classes ----------------------------- */
.open-font {
    font-family: 'Open Sans', sans-serif;
    font-weight:400
}

.open-font-light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.oswald-font-light {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.oswald-font {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.oswald-font-bold {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
/* End of font helper classes */

/* Helper Colour Classes --------------------------- */
.black-bg{
    background-color: #00000E;
}

.black-font{
    color: #00000E;
}

.white-bg{
    background-color: #F0F1F7;
}

.white-font{
    color:#F0F1F7;
}

.blue-bg {
    background-color: #4493C7;
}

.blue-font {
    color: #4493C7;
}

/* End of Helper Color Classes */

/* Postitioning Helper Classes ------------------------ */
.text-center {
    text-align:center;
}

/* Header Styling -------------------------------- */
header {
    min-width:100%; 
}

#navigation{
    border-bottom: 4px solid #4493C7;
    background-color: #00000E;
}

nav > div {
    min-width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    display: flex;
    flex-wrap: wrap; 
    justify-content: left;
    align-items: center;
}

.logo {
    height:3rem;
    width:3rem;
    text-align: center;
    margin-left: 1rem;
    
    border-radius: 50%;
    padding: 0.1rem;
    border: 1px solid #F0F1F7;
    
    position:relative;
    vertical-align: middle;
}

.logo-image {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

#title-box {
    position: relative;
    float:left;
    margin-left:1rem;
}

#title-box > h4{
    margin-bottom: 0;
}

#menu {
    flex-grow: 0;
    text-transform: capitalize;
    padding-left:2rem;
}

#menu a {
    font-family:inherit;
    color: inherit;
    text-decoration: none;
}

#menu li {
    display:inline-block;
    padding: 0 3px;
}

/* INDEX PAGE STYLING -------------------------------- */
.carousel-item{
    max-width: 100%;
    max-height: 60vh;
}

#blurb {
    padding: 0  1rem;;
}

#blurb h2 {
    padding-top: 3vh;
}

.blurb-grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-auto-rows: minmax(5rem, auto);
    grid-gap: 0.25rem;
    grid-template-areas:
        "heading heading heading"
        ". text .";
}

.grid-text {
    grid-area: text;
}

.grid-heading {
    grid-area: heading;
}

#performance {
    border-top: .25rem solid #4493C7;
}

#performance h3 {
    padding-top: 0.25rem;
}

.performance-grid {
    display:grid;
    grid-template-rows: 4rem repeat(2, 1fr);
    grid-gap: 0.5rem;
    grid-template-areas:
        "heading"
        "video-1"
        "text-1"
        "video-2"
        "text-2";
}

.performance-video-1 {
    grid-area: video-1
}

.performance-video-2 {
    grid-area: video-2
}

.performance-video-1, .performance-video-2 {
    border-top: 0.125rem solid #4493C7 !important; 
}

.performance-text-1 {
    grid-area: text-1
}

.performance-text-2 {
    grid-area: text-2
}

.performance-grid-item {
    text-align: center;
}

@media only screen and (max-width:786px) {
    .blurb-grid {
        grid-template-columns: 1fr 15fr 1fr;;
    }
}
@media only screen and (min-width:786px) {
    .performance-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "heading heading"
            "video-1 text-1"
            "text-2 video-2";
    }
}
