/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&family=Oswald:wght@300;400;600&display=swap');
/* PARAGRAPH FONT FAMILY RULES - font-family: 'Open Sans', sans-serif; */
/* HEADING FONT FAMILY RULES - font-family: 'Oswald', sans-serif;  */

:root {
    --blue: #4493C7;
    --black: #00000E;
    --white: #F0F1F7;
}

/* Element Styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    background-color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1875rem;
}

header {
    min-width: 100%;
}

hr {
    width: 75%;
    margin: 0 12.5% 0 12.5% !important;
}



/* End of Element Styles */

/* Font Helper Classes */
#font-w300 {
    font-weight: 300;
}

#font-w400 {
    font-weight: 400;
}

#font-w600 {
    font-weight: 600;
}

/* End of font helper classes */

/* Helper Colour Classes */
.black-bg {
    background-color: var(--black);
}

.black-font {
    color: var(--black);
}

.white-bg {
    background-color: var(--white);
}

.white-font {
    color: var(--white);
}

.blue-bg {
    background-color: var(--blue);
}

.blue-font {
    color: var(--blue);
}

/* End of Helper Color Classes */

/* Postitioning Helper Classes */
.text-center {
    text-align: center;
}

/* Header Styling */
#navigation {
    border-bottom: 4px solid var(--blue);
    background-color: var(--black);
}

.header-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(5rem, auto);
    grid-template-areas:
        "head-logo head-heading"
        "head-logo head-menu";
}

.header-logo {
    grid-area: head-logo;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-grid-item {
    display: flex;
    align-items: center;
}

.header-heading {
    grid-area: head-heading;

    display: flex;
    justify-content: left !important;
}

.header-grid-menu {
    grid-area: head-menu;

    display: flex;
    justify-content: left;
}

.header-grid-logo {
    grid-area: head-logo;

    flex-shrink: 0;
}

.logo {
    height: 5rem;
    width: 5rem;
    text-align: center;

    position: relative;
    left: 50%;

    border-radius: 50%;
    padding: 0.1rem;
    border: 1px solid var(--white);
    margin-top:2.2rem;
}

.logo-image {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}

#title-box {
    position: relative;
    float: left;
    overflow-wrap: normal;
}

#title-box>h2 {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 2.3rem;
}

#menu {
    flex-grow: 0;
    text-transform: capitalize;
    padding-left: 2rem;
    min-width: 250px !important;
    overflow-wrap: normal;

    display: flex;
    justify-content: center;
}

#menu a {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

#menu li {
    display: inline-block;
    padding: 0 3px;
}

/* INDEX PAGE STYLING */

#blurb {
    padding: 0 1rem;
    ;
}

#blurb h2 {
    padding-top: 3vh;
}

.blurb-grid {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-auto-rows: minmax(5rem, auto);
    grid-gap: 0.25rem;
    grid-template-areas:
        "heading heading heading"
        ". text .";

    margin-bottom: 1rem;
}

.grid-text {
    grid-area: text;
}

.grid-heading {
    grid-area: heading;
}

#performance {
    border-top: .25rem solid var(--blue);
}

#performance h3 {
    padding-top: 0.25rem;
}

.performance-grid {
    display: grid;
    grid-template-rows: 4rem repeat(2, 1fr);
    grid-gap: 0.5rem;
    grid-template-areas:
        "heading"
        "video-1"
        "text-1"
        "video-2"
        "text-2";
}

.performance-video-1 {
    grid-area: video-1
}

.performance-video-2 {
    grid-area: video-2
}

.performance-video-1, .performance-video-2 {
    border-top: 0.125rem solid var(--blue) !important;
}

.performance-text-1 {
    grid-area: text-1
}

.performance-text-2 {
    grid-area: text-2
}

.performance-grid-item {
    text-align: center;
}

.video {
    width:100% !important;
    aspect-ratio: 16/9;
}

/* Footer Styling --------------------------------------------- */
footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;

    border-top: 0.5rem solid var(--blue);
    padding-top: 1rem;
    min-height: 20vh;
}

.footer-list {
    list-style: none;
    padding: 1vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-list>li {
    padding: 0 3vw !important;
}

.footer-list>li,
.footer-list p {
    padding: 0;
    margin: 0;
}

#footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-logo {
    margin: 1rem;
}

#footer-logo>.logo {
    border: 1px solid var(--black);
    margin: 0;
}

a>i {
    font-size: 160%;
    color: var(--black);
}

/* HEADER MEDIA QUERIES */

@media only screen and (max-width:372px) {
    .header-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(5rem, auto);
        grid-template-areas:
            "head-logo"
            "head-heading"
            "head-menu";
    }

    .header-grid-logo {
        grid-area: head-logo;
    }

    .header-heading {
        grid-area: head-heading;
        display: flex;
        justify-content: center !important;
    }

    .header-grid-menu {
        grid-area: head-menu;
        display: flex;
        justify-content: left;
    }

}

/* INDEX PAGE MEDIA QUERIES */


@media only screen and (min-width:786px) {
    .header-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            ";
    }

    .blurb-grid {
        grid-template-columns: 2fr 6fr 2fr;
    }
    
    .performance-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "heading heading"
            "video-1 text-1"
            "text-2 video-2";
    }
}
/* FOOTER MEDIA QUERIES */

@media screen and (min-width: 768px) {
    footer {
        flex-direction: row;

    }
}